

.sample-generator {
  .generated-samples-list {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    text-align: left;

    gap: 10px;

    .generated-sample.new {
      /* An animation so that it fades in */
      animation: fade-in 0.5s ease-in-out;
    }
  }

  .generated-samples-area {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    .generated-samples-list {
      flex-basis: 25%;
    }
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
